body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  width: 220px;
  height: 100px;
}

img {
  width: 150px;
  margin: 30px;
}

audio{
  max-width: 150px;
  margin-bottom: 40px;
  align-items: center;
}

.station {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-style: solid;
  margin: 40px;
  }
